@* External login providers temporarily unavailable during migration to ASP.NET Core Identity *@
<h4>Use another service to log in.</h4>
<hr />
<div>
    <p>
        There are no external authentication services configured.
        External authentication services like Facebook, Google, Microsoft Account, and Twitter can be configured 
        in the application's authentication setup in Program.cs.
    </p>
</div>
